<div class="col-lg-12 mx-auto">
  <div class="table-responsive">
    <table class="table text-nowrap table-hover table-borderless">
      <thead>
        <tr>
          <th>メニュー名</th>
          <th>実施日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% client_menus.each do |client_menu| %>
          <tr>
            <td><%= client_menu.menu.menu_name %></td>
            <td><%= client_menu.start_date.strftime("%Y年%m月%d日") %></td>
            <td>
              <%= link_to "編集", edit_therapist_client_client_menu_path(client, client_menu), class: "btn btn-success btn-lg" %>
              <%= link_to "削除", therapist_client_client_menu_path(client, client_menu), method: :delete, data: {confirm: "本当に消しますか？"}, remote: true, class: "btn btn-danger btn-lg" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>