<div class="row mt-5">
  <div class="col-12 mb-3">
    <h4>マイページ</h4>
  </div>
</div>
<div class=row>
  <div class="col-md-3">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">登録情報</th>
        </tr>
      </thead>
      <tbody>
        <tr><td><%= link_to "基本情報", switches_path, id: "basic_infomation", class: "text-dark text-decoration-none", remote: true %></td></tr>
        <tr><td><%= link_to "セラピスト情報", switches_path, id: "therapist_infomation", class: "text-dark text-decoration-none", remote: true %></td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 offset-md-1 profile_card" id="infomation">
    <%= render "basic_infomation" %>
  </div>
</div>