<div class="row">
  <div class="col-12 d-flex align-items-center justify-content-end">
    <div class="weather mb-3 p-2">
      <h6 id="place" class="mb-md-0 mb-3"></h6>
      <span>最高気温 :</span>
      <span id="temp_max"></span>
      <span> ℃</span>
      <span>最低気温 :</span>
      <span id="temp_min"></span>
      <span> ℃</span><br class="d-md-none">
      <span>天気 :</span>
      <span id="icon"><img id="img"></span>
    </div>
  </div>
</div>

<h3><i class="far fa-flag"></i>リハゴール</h3>
<h3><%= current_client.purpose %></h3>

<%= render "therapist/client_records/calendar",path: @path, client: @client, client_menus: @client_menus, conditions: @conditions %>