<div class="row my-3">
  <h4 class="d-flex justify-content-left">セラピスト情報編集</h4>
</div>
<div class="errors">
  <%= render "layouts/errors", obj: current_therapist %>
</div>
<%= render "form", therapist: current_therapist %>