<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3 class="col-11 mb-3"><%= @client.full_name %>さんの自主トレ記録</h3>
  </div>
</div>
<%= render "calendar",path: @path, client: @client, client_menus: @client_menus, conditions: @conditions %>