<h4><%= @day.strftime("%Y年%m月%d日") %>のリハビリ</h4>
<div>
  体調:
  <% if @client_record.condition == 1 %>
    良い
  <% elsif @client_record.condition == 2 %>
    普通
  <% else %>
    悪い
  <% end %>
</div>

<div>
  <% @client_record.client_menus.each do |client_menu| %>
    <%= client_menu.menu.menu_name %>
    <%= client_menu.is_completed %><br>
  <% end %>
</div>

<div>
  コメント:<%= @client_record.comment %>
</div>



