@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  font-family: "ヒラギノ角ゴシック";
  background-color: #fafafa;
}

main{
  min-height: calc(100vh - 56px);
}

thead tr{
  background-color: #eff7ff;
}