@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  font-family: "ヒラギノ角ゴシック";
  background-color: #fafafa;
}

main{
  min-height: calc(100vh - 56px);
}

thead tr{
  background-color: #eff7ff;
}

h3{
  text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

@media screen and (max-width: 767px) {
  .th_responsive{
    padding-bottom: 0.25rem !important;
  }
  .td_responsive{
    padding-top: 0.25rem !important;
  }
}