.new-btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 3px 3px 0px 0 grey;
}

.fa-plus {
  position: absolute;
  top: 17px;
  right: 0;
  left: 0;
  margin: auto;
  color: grey;
  font-size: 15px;
}

.btn{
  text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

.btn_pink{
  color: #fff;
  background-color: #ff577b;
  border-color:#ff577b;
}
.btn_pink:hover{
  color: #fff;
  background-color: #e04a6a;
  border-color: #e04a6a;
}

.btn-warning{
  color: white;
}

.btn-warning:hover{
  color: white;
}