<div class="row mt-5">
  <div class="col-12">
    <h3><%= @day.strftime("%Y年%m月%d日") %>のリハビリ</h3>
  </div>
</div>
<% if @client_record.id.nil? %>
  <%= render "form_new", client_record: @client_record, client_menus: @client_menus, day: @day %>
<% else %>
  <%= render "form_edit", client_record: @client_record, client_menus: @client_menus, day: @day %>
<% end %>