<div class="row mt-3">
  <div class="col-12 mx-auto">
    <h4 class="mb-3"><%= @therapist.last_name %><%= @therapist.first_name %>さんのセラピスト情報編集</h4>
    <div id="therapist_edit">
      <%= render "admin/therapists/edit", therapist: @therapist %>
    </div>
  </div>
</div>