<div class="row mt-5">
  <div class="col-12 mb-3">
    <h3>ジャンル</h3>
  </div>
</div>

<div id="genre">
  <%= render "new", genre: @genre %>
</div>

<div class="row table-responsive" id="table">
  <%= render "table", genres: @genres %>
</div>